# Server
PORT=3500

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=2settle

# External APIs
COINMARKETCAP_API_KEY=

# Settlement (Mongoro)
MONGORO_TOKEN=
MONGORO_TRANSFERPIN=

# Bank Account Resolution (Nuban)
NUBAN_API_KEY=
